* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  text-align: left;
  color: #252525;
  /* background-color: #FCFAFF; */
}
body {
  background-color: rgb(255, 255, 255);
  
}
*::selection {
  color: black;
  background-color: #a9a9a9;
  
}

.test {
  margin-top: 10px;
  font-family: 'Bungee';
  padding: 7px 10px 7px 10px;
  border-radius: 2px;
  background-color: #252525;
  color: white;
  display:inline;
}


main {
  padding: 48px;
  background-color: #FCFAFF;
  font-family: 'Roboto';
  
}

header {
  display: flex;
  flex-direction: right;
}
nav {
  /* background-color: black; */
  border-bottom: 2px solid #252525;
  height: 60px;
  padding: 0 0 0 0;
  margin-top: 2%;
  margin-right: 30%;
  width: 70%;
  flex-direction: right;
}
.navlist {
display: flex;
list-style: none;
flex-direction: right;
justify-content: space-evenly;
font-family: 'Bungee';
flex-direction: right;
}

.titlecontainer {
  
  /* rotate: -40 -70 -10 30deg; */
}


.navlist li a{
  padding: 10px;
  transition: 0.3s;
  color: black;
  text-decoration: none;
  font-size: 20px;
  
  
}

.cyan:hover {
  /* border: 2px solid #00ffff; */
  /* background-color: #00ffff; */
  border-radius: 3px;
  transition: 0.4s;
  
  
  text-shadow: -2px -2px 0 #ffa2ff,
  2px 2px 0 #fbf719;
}
.magenta:hover {
  /* border: 2px solid #ff52ff;
  background-color: #ff52ff; */
  border-radius: 3px;
  transition: 0.4s;
  
  
  text-shadow: -2px -2px 0 #a1ffff,
  2px 2px 0 #fbf719;
  
}
.yellow:hover {
  text-shadow: -2px -2px 0 #fbf719,
  2px 2px 0 #fbf719;
  /* border: 2px solid #fbf719;
  background-color: #fbf719;; */
  border-radius: 3px;
  transition: 0.4s;
  
}
.navlist li a:visited {
  color: #252525;
 
}
.navlist li a:hover {
  letter-spacing: 2px;
  /* transform: scale(1.2);  */
  /* color: white; */
  /* border-bottom: 2px solid black;  */

  /* background-color: #fbf719; */
  /* box-shadow: inset 1em 1em #fbf719,
              20px -16px #fbf719; */
}
.navlist li a:active {
  color:#fbf719;
  
}

h1 {
  border-bottom: 2px solid #252525; 
  /* background-color: yellow; */
  display: inline;
  font-size: 54px;
  /* padding: 10px;  */
  /* -webkit-text-stroke: 1px white; */
}

h2 {
  font-size: 32px;
}
.subheading {
  margin-top: 1%;
  color: rgb(166, 166, 166);
}

section {
  /* rotate: -40 -70 -10 30deg; */
  
  color: #252525;
  /* margin-left: 30px; */
  margin-top: 3%;
  display: flex;
  /* border: solid black 1px; */
  flex-direction: left;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  /* border-left: 2px solid black;
  border-right: 2px solid black; */
  
}

.card {
  width: 225px;
  height: 225px;
  background: linear-gradient(to top,  #fbf969, #fffc65 90%);
  border-radius: 2px;
  transition: 0.4s;
  /* background-color: #fbf719; */
  /* background-color: #00ffff; */
  /* background-color: #ff52ff; */
  padding: 24px;
  /* border: solid black 1px; */
  margin: 10px 20px 20px 20px;
  border-radius: 20px;
}

.card:hover {
  transform: scale(1.05); 
  transition: 0.4s;
  border-radius: 0;
}

.addcard {
  width: 225px;
  height: 225px;
  /* background: linear-gradient(to top,  #f4f018, #f4f018 90%); */
  border-radius: 20px;
  /* border: 2px solid black; */
  /* background-color: #fbf719; */
  /* background-color: #00ffff; */
  /* background-color: #ff52ff; */
  padding: 24px;
  /* border: solid black 1px; */
  margin: 10px;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.addcard:hover {
  background-color: rgb(240, 240, 240);
  box-shadow: 5px 5px 10px 2px rgba(227, 227, 227, 0.8);
}

.cardlink, .cardlink:visited {
  color: black
}

.carddate {
  /* background-color: white; */
  border-radius: 5px;
  font-size: 14px;
  /* padding: 3px; */
  font-weight: bold;
  
}
 .cardform {
  background-color: rgb(231, 231, 231);
  border-radius: 25px;
  /* width: 40%; */
  flex-direction: column;
  display: flex;
  align-items: left;
  margin: 0 auto;
  padding: 50px;
  
 }

footer {
  color: rgb(249, 249, 249);
  padding: 48px;
  position: relative;
  bottom: 10px;
  width: 100%;
  height: 2rem;            /* Footer height */
}

form {
  margin-top: 3%;
  /* display: flex;
  flex-direction: right; */
}

.cardform input[type=text] {
  background-color: transparent;
  border: none;
  font-size: 54px;
  width: fit-content !important;

  

}

.editbox {
  margin-top: 3%;
}

.editbtn, .editbtn:visited {
  border: none;
  border-radius: 5px;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 20px;
  padding: 9px 45px 9px 45px;
  color: black;
  text-decoration: none;
  background-color: lightgray;
}

.deletebtn, .deletebtn:visited {
  border: none;
  border-radius: 5px;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 20px;
  padding: 9px 45px 9px 45px;
  color: #252525;
  text-decoration: none;
  background-color: lightgray;
}

.deletebtn:hover {
  
}

.editbtn:hover {
 
}

.logoutbtn, .logoutbtn:visited {
  transition: 0.4s;
  border: none;
  background-color: white;
  font-size: 20px;
  padding-top: auto;
}

.logoutbtn:hover {
  /* transform: scale(1.2);  */
  text-shadow: -2px -2px 0 rgb(252, 94, 94);
}

.submitbtn {
  border: none;
  border-radius: 5px;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 20px;
  padding: 9px 45px 9px 45px;
}

.submitbtn:hover {

    
}

.backbtn, .backbtn:visited {
  display: block;
  color: black;

}

.donebtn, .donebtn:visited {
  border: none;
  border-radius: 5px;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 20px;
  padding: 9px 45px 9px 45px;
}

.checkbtn {
  color: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}



.checkbox::before {
  background-color: none;
  font-size: 40px !important;
  width: 200%;
  height: 200%;
  content: 'check_box_outline_blank';
}
.checkbox:hover::before {
  content: 'select_check_box';
}

.checkbox:active::before {
  content: 'select_check_box';
  color: lightgray;
}
.pencilbtn {
  display: inline;
  background-color: transparent;
  cursor: pointer;
  padding: 20px;
  padding-top: 0;
  margin-top: 70px;
  border: none;
  position: absolute;
}
.pencilbtn:hover:before {
  
  content: 'edit';
  color: black;
  
}
.plus, .plus:visited {
  text-decoration: none;
  font-size: 8em !important;
  color: lightgray;
  transition: 0.4s;
  padding-bottom: 2px;
  
}

.plus:hover {
  color: #252525
}


/* GOOGLE SYMBOL  */
  /* .material-symbols-outlined {
  font-size: 1000%;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  
} */

/*curl bottom left */
.card {
  backface-visibility: hidden;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  display: inline-block;
  position: relative;
  transform: translateZ(0px);
  vertical-align: middle;
  
}
.card::before {
  
  background: rgba(0, 0, 0, 0) linear-gradient(45deg, white 45%, #cecb14 50%, #e9e617 56%, #ebe719 80%) repeat scroll 0 0;  /*display smooth transitions between two or more specified colors */
  bottom: 0;
  /* box-shadow: 1px -1px 1px rgb(0, 0, 0); */
 
  content: "";
  height: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  transition-duration: 0.3s;/* time duration */
  transition-property: width, height;
  width: 0;
  
}
.card:hover::before {
  height: 75px;
  width: 75px;
  
}