{% extends 'base.html' %}

{% block content %}
<div class="titlecontainer">
    <h1>Archived Activities</h1>
</div>

<section>
    {% for card in cards %}
    {% if not card.complete_date == None %}
    <a href="{% url 'detail' card.id %}" class="cardlink">
        <div class="card">
            <h2>{{card.activity}}</h2>
            <p class="carddate">Due Date: {{card.due_date}}</p>
            <p class="carddate">Complete Date: {{card.complete_date}}</p>
        </div>
    </a>
    {% endif %}
    {% endfor %}
</section>
{% endblock content %}