{% extends 'base.html' %}

{% block content %}
<div class="titlecontainer">
    <h1>Archived Activities</h1>
    <p class="subheading">You've completed {{cards|length}} cards—great job!</p>
</div>

<section>
    
    {% for card in cards %}
    <a href="{% url 'detail' card.id %}" class="cardlink">
        <div class="card">
            <h2>{{card.activity}}</h2>
            <p class="carddate">Due Date: {{card.due_date}}</p>
            <p class="carddate">Complete Date: {{card.complete_date}}</p>
        </div>
    </a>
    {% endfor %}

</section>
{% endblock content %}