{% extends 'base.html' %}

{% block content %}
<div class="titlecontainer">
    <h1>My Tasks</h1>
    {% if cards|length == 0 %}
    <!-- Checks if the user completed all tasks and changes the message -->
    <p class="subheading">You've got <mark>{{cards|length}}</mark>! Way to stick to it! Add more tasks to keep going!!
        {% else %}
    <p class="subheading">You've got <mark>{{cards|length}}</mark> cards to do—why not check one off?
    </p>
    {% endif %}

</div>

<section>
    {% for card in cards %}
    <!-- Shows all cards that are incomplete for the logged user -->
    <a href="{% url 'card_update' card.id %}" class="cardlink">
        <div class="card">
            {% if card.due_date != None %}
            <p class="carddate">Due: {{card.due_date}}</p>
            {% endif %}
            <h2>{{card.activity}}</h2>
            <!-- button will move card to archive but redirect to index -->
            <form action="{% url 'complete' card.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="material-symbols-outlined checkbox checkbtn"></button>
            </form>
            <span class="material-symbols-outlined pencilbtn"></span>
        </div>
    </a>
    {% endfor %}
    <!-- User's option to create a new card: -->
    <div class="addcard">
        <a href="{% url 'card_create' %}" class="material-symbols-outlined plus">add</a>
    </div>
</section>
{% endblock content %}